.cardProducto{
  width: 18rem;
  margin: 4px;
  background-color: hsl(0, 0%, 97%);
}



.cardProductos{
  margin: 4px;
  align-items: center;
  justify-content: center;
}

.cardBody{
  
  margin-bottom: 3px;
  text-align: center;
}

.cardBodyDark{
  background-color: black;
  color: gainsboro;
  margin-top: 3px;
  text-align: center;
}

.cartWidget{
  margin-right: 40px;
  color: white;
}
  

.conForm{
  margin-top: 20px;
}

.darkMode{
  background-color: black;
  color: gainsboro;
}

.cartContainer{
  margin-top: 3%;
  margin-left: 26,5%;
}

.cardCart{
  max-width: 640px;
}

.divButtons button {
  margin: 4px;
}

img {
  margin-top: 3px;
}

.itemDetail{
  margin-top: 20px;
  max-width: 760px;
  
}

.itemDetailBodyDark{
 background-color: black;
  color: white;
}

.cantCarrito{
  position: relative;
  left: 15%;
}